<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitchChat.Properties.Settings>
            <setting name="BroadcasterId" serializeAs="String">
                <value />
            </setting>
            <setting name="MarginSlider" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="BackgroundSlider" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ForegroundSlider" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>0 0</value>
            </setting>
            <setting name="MaxMessageCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="InactiveTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
        </TwitchChat.Properties.Settings>
    </userSettings>
</configuration>